server:
  port: 8086

spring:
  application:
    name: cloud-service-provide

eureka:
  instance:
    hostname: localhost
    #ip-address: 192.168.98.22
    prefer-ip-address: true
  client:
    serviceUrl:
      #defaultZone: http://192.168.98.22:8761/eureka/,http://192.168.98.23:8761/eureka/
      #defaultZone: http://localhost:8761/eureka/,http://localhost:8762/eureka/
      defaultZone: http://localhost:8761/eureka/

# 开启hystrix
feign:
  hystrix:
    enabled: true